AuthName "Protection du CRUD sae203"
AuthType Basic
AuthUserFile "/home/mmi21d05/htpassword.mmi"
Require valid-user
DirectoryIndex admin.php
SetEnv PHP_VALUE "display_errors = Off"
RewriteEngine On
RewriteRule productions1 /var/www/sae203/admin/table1_gestion.php
#RewriteRule supprimer /var/www/sae203/table1_delete.php
#RewriteRule nouveau /var/www/sae203/admin/table1_new_form.php
#RewriteRule validation1 /var/www/sae203/admin/table1_new_valide.php
#RewriteRule modifier /var/www/sae203/admin/table1_update_form.php
#RewriteRule validation2 /var/www/sae203/admin/table1_update_valide.php
#RewriteRule productions2 /var/www/sae203/admin/table2_gestion.php
#RewriteRule supprimer /var/www/sae203/table2_delete.php
#RewriteRule nouveau /var/www/sae203/admin/table2_new_form.php
#RewriteRule validation3 /var/www/sae203/admin/table2_new_valide.php
#RewriteRule modifier /var/www/sae203/admin/table2_update_form.php
#RewriteRule validation4 /var/www/sae203/admin/table2_update_valide.php